 Calculate mean of values in your own list?

In [ ]:
lst = [2,3,1,4,5,6,7,8,9,0]
mean = sum(lst)/len(lst)

Print odd num from list?

In [ ]:
lst2 = range(10)
for i in lst2:
    if i%2 != 0:
        print(i)

Calculate the sum of all numbers from 1 to a given number

In [ ]:
lst3 = [2,3,1,4,5,6,7,8,9,0]
sum(lst3)

 Write a program to print multiplication table of a given number

In [ ]:
num = int(input())
for i in range(0,11):
    print(num,'*',i,'=',num*i)

Display numbers from a list using loop

In [ ]:
lst3 = [1,2,3,4,5,6,7,8,9,0]
for i in lst3:
    print(i)

Count the total number of digits in a number

In [ ]:
lst4 = [1,2,3,4,5,6,7,8,9,0]
count = 0
for i in lst4:
    count+=1
print(count)

 Print the following patter
1
12
123
1234

In [ ]:
num = int(input())
for i in range(1,num+1):
    for j in range(1,i+1):
        print(j,end = ' ')
    print()

 Print list in reverse order using a loop

In [ ]:
lst5 = [1,2,3,4,5,6,7,8,9,0]
n=[]
for i in lst5:
    n.insert(-i,i)
print(n)

Display numbers from -10 to -1 using for loop

In [ ]:
for i in range(-10,0):
    print(i)

 Use else block to display a message “Done” after successful execution of for loop

In [ ]:
for i in (1,2,4):
    print(i)
else:
    print('done')

 Write a program to display all prime numbers within a range

In [7]:
c = []
for n in range(0,100):
    count = 0
    for i in range(2,(n//2 +1)):
        if (n%i==0):
            count+=1
            break
    if(count == 0 and n!= 1):
        c.append(n)
print(c)

[0, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

Display Fibonacci series up to 10 terms

In [13]:
number = 10
x = 0
y = 1
while number:
    c=x+y
    y=x
    x=c
    print(x)
    number = number-1

1
1
2
3
5
8
13
21
34
55

Find the factorial of any number

In [16]:
n = int(input())
start = 1
while n:
    start = start*n
    n-=1
print(start)

4
24

 Reverse a list of integers number

In [21]:
def reverse(lst):
    new_lst = lst[::-1]
    return new_lst

In [22]:
lst6 = [1,2,3,4,5,6,7,8,9,0]
reverse(lst6)

[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]